.main-layout {
    display: grid;
    grid-template-columns: var(--layoutpadding) 1fr var(--layoutpadding);
    grid-template-rows: auto 1fr auto;
}

.main-layout>.full {
    grid-column: 1/-1;

}

.main-layout>*:not(.full) {
    grid-column: 2;
}

.options {
    width: 50%;
    background-color: rgb(28, 103, 168);
    border: 2px solid black;
}

canvas {
    background-color: aliceblue;
    border: 2px solid black;
    width: 50%
}