.canvas-container {
    display: grid;
    gap: 10px;
}

.canvas-container .options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    place-items: center;

    background-color: var(--crl-primery-4);
}

.canvas-container .options .txt {
    width: fit-content;
}

.canvas-container .options-buttons {
    gap: 10px;
    background-color: var(--crl-logo);
    padding: 5%;
    border-radius: 25%;
}

.canvas-container .design-fetures {
    background-color: var(--crl-logo);
    padding: 5%;
    border-radius: 25%;
}

.canvas-container .save {
    background-color: var(--crl-logo);
    padding: 5%;
    border-radius: 25%;
}

.canvas-container button {
    width: fit-content;
    font-size: 100%;
    background-color: var(--crl-primery-1);
}

button:hover {
    background-color: var(--crl-primery-3);
    cursor: pointer;
}