.main-nav>ul>li {
    border-inline-end: 1px solid var(--crl-primery-1);
}

.main-nav>ul>li:first-child {
    border-inline-start: 1px solid var(--clr-primary-1);
}

.main-nav a {
    width: 130px;
    height: 130px;
    
    display: grid;
    place-items: center;
    grid-auto-flow: row;
    color: inherit;
    text-decoration: none;

    transition: box-shadow .4s;
}