:root {
    --crl-logo: rgb(241, 168, 33);
    --crl-primery-1: rgb(232, 222, 222);
    --crl-primery-2: rgb(233, 99, 62);
    --crl-primery-3: rgb(219, 211, 211);
    --crl-primery-4: rgb(146, 159, 30);




    --layoutpadding: 20px;
}