:root {
    --crl-logo: rgb(241, 168, 33);
    --crl-primery-1: rgb(232, 222, 222);
    --crl-primery-2: rgb(233, 99, 62);
    --crl-primery-3: rgb(216, 169, 169);
    --crl-primery-4: rgb(58, 58, 52);
    --crl-primery-5: rgb(191, 210, 18);
    --crl-primery-6: rgb(18, 175, 210);




    --layoutpadding: 20px;
}