:root {
    --crl-logo: #FCC737;
    --crl-primery-1: rgb(123, 122, 122);
    --crl-primery-2: #F26B0F;
    --crl-primery-3: rgb(255, 163, 101);
    --crl-primery-4: #3a3a34;
    --crl-primery-5: rgb(191, 210, 18);
    --crl-primery-6: rgb(18, 175, 210);
    --crl-primery-7: aliceblue;
    --crl-primery-8: #f75252;
    --crl-primery-9: antiquewhite;


    --layoutpadding: 20px;
}